 <head>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/css/theme.default.min.css">
<style>
#fav-table th {
    background-color:#EEEEEE;
}

.sorter-false {
    background-image: none;
}
</style>
<script>
$(document).ready(function() {
    $('#fav-table').tablesorter({
            headers: {
               0: { sorter: false }
            }
    });
});
</script>
</head>
 <%= render "shared/header-sidebar" %>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">運用メンバ一覧</h1>
                        <ol class="breadcrumb mb-4">
                         <% if user_signed_in? %>
                         <li class="breadcrumb-item active"><%= "#{current_user.name}さんがログイン中です" %></li>
                         <% else %>
                         <li><%= link_to("Click here to log in", new_user_session_path, {class: "breadcrumb-item active"}) %></li>
                         <% end %>
                        </ol>

                                       <div class="card-body">
    <caption>メンバ一覧</caption>
    <table id="fav-table" class="table table-bordered">
  <thead>
      <tr><th>名前</th><th>所属グループ</th><th>配属年数</th><th>年齢</th><th>出身</th><th>A認定</th><th>B認定</th><th>C認定</th></tr>
  </thead>
  <tbody>
  <% @user.each do |user| %>
      <tr><td><%= user.name %></td><td><%= user.group.name %></td><td><%= user.assignment_date %></td><td><%= user.birthday %></td><td><%= user.prefecture.name %></td><td><%= user.a_certification.name %></td><td><%= user.b_certification.name %></td><td><%= user.c_certification.name %></td></tr>
      
      <% end %>
  </tbody>
</table>
</div>

                        

                    

                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
