<%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <div class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
                                        <form>
                                            <div class="row mb-3">
                                                <div class="col-md-12">
                                                <label for="inputName">Email address</label>
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <%= f.text_area :email, class:"input-default", id:"email", placeholder:"メールアドレスを入力してください" %>
                                                    </div>
                                                </div>
                                                </div>
                                            <div class="row mb-3">
                                                <div class="col-md-12">
                                                       <label for="inputName">Password</label>
                                                         <div class="form-floating mb-3 mb-md-0">
                                                        <%= f.password_field :password, class:"input-default", id:"password", placeholder:"パスワードを入力してください" %>
                                                    </div>
                                                </div>
                                                </div>
                                            <div class="mb-3 pt-3">               
                                                <%= f.submit "Login" ,{class:"btn btn-primary"} %>
                                            </div>
                                        </form>
                                    </div>
                                    <% end %>
                                    <div class="card-footer text-center py-3">
                                    <%= link_to('Need an account? Sign up!',new_user_registration_path, class:"small") %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
