<%= render "shared/header-sidebar" %>


            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">教育タスク一覧</h1>
                        <ol class="breadcrumb mb-4">
                         <li class="breadcrumb-item active"><%= "#{current_user.name}さんがログイン中です" %></li>                     
                        </ol>

                        <div class="p-3 mb-2 bg-dark text-white"><%= "#{current_user.name}さんのA認定一覧 *自己評価0~100で入力 全項目が70以上でA認定取得" %> <br> 
                        該当作業実施・手順書閲覧後自己評価を記入してください<br>
                        自己評価基準: *0~50(手順に不明点等があり一人称での作業が難しい)
                        *50~70(手順に不明点がなく、二人作業の作業者であればできる)
                        *70~100(作業の手順・内容を理解しており二人作業での確認者ができる)<br>
                        <%= link_to('詳細ページへ', a_task_path(@a_task.id), {class: "btn btn-sm btn-outline-secondary text-white mt-3 p-10"}) %>
                        <%= link_to("一覧画面へ戻る", a_tasks_path, {class: "btn btn-sm btn-outline-secondary text-white mt-3 p-10"}) %> </div>
 
 <div class="container">
     <div class="row">
      <div class="col-12 mb-3 ">
  
     <div class="card-body">
    <table id="fav-table" class="table table-bordered">
  <thead>
      <tr>
      <th>名前</th>
      <th>A認定取得</th>  
       <th>オペレーション引き継ぎ資料の作成</th>
   <th>インシデント引き継ぎ資料の作成</th>
   <th>大規模故障発生時の対応フロー</th>
  </thead>
  <tbody>
  
      <tr>
      <td><%= @a_task.user.name %></td>
      <td><%= @a_task.a_certification.name %></td>
      <td><%= @a_task.operation_handover_material %></td>
    <td><%= @a_task.incident_handover_material %></td>
    <td><%= @a_task.failure_flow %></td>
      </tr>
   
  </tbody>
</table>
</div>
</div>
</div>
</div>
                   
<%= form_with model: @a_task, local: true do |f| %>
<%= render 'layouts/error_messages', model:f.object %>
 
        <div class="container">
     <div class="row">
      <div class="col-12 mb-3 ">
<div class="card" >
<div class="col-12 mb-3 d-flex">
  <div class="card-body">
   <div class="aaa">
    <h5 class="card-title">オペレーション引き継ぎ資料の作成</h5>
     <%= link_to('運用手順書 ***　手順書格納先 ***', documents_path, {class: "link-dark"}) %> 
 </div>
</div>

 <div class="bbb d-flex">
     <div class="col-sm-6 mt-2">
    <label for="inputName">自己評価(0~100の評価で入力)</label>
    <%= f.text_area :operation_handover_material, class:"input-default", id:"self_assessment", placeholder:"半角数字で入力してください",maxlength:"3" %>
  </div>
   <div class="col-sm-2 mt-2 ms-4">
      <div class="pass-content">
          <span>判定</span>
        </div>
        <div class="pass" id='pass'></div>
  </div>
  </div>
  </div>
</div>
</div>


<div class="col-12 mb-3 ">
<div class="card" >
<div class="col-12 mb-3 d-flex">
  <div class="card-body">
   <div class="aaa">
    <h5 class="card-title">インシデント引き継ぎ資料の作成</h5>
     <%= link_to('運用手順書 ***　手順書格納先 ***', documents_path, {class: "link-dark"}) %> 
 </div>
</div>

 <div class="bbb d-flex">
     <div class="col-sm-6 mt-2">
    <label for="inputName">自己評価(0~100の評価で入力)</label>
    <%= f.text_area :incident_handover_material, class:"input-default", id:"self_assessment_2", placeholder:"半角数字で入力してください",maxlength:"3" %>
  </div>
   <div class="col-sm-2 mt-2 ms-4">
      <div class="pass-content">
          <span>判定</span>
        </div>
        <div class="pass" id='pass_2'></div>
  </div>
  </div>
  </div>
</div>
</div>

<div class="col-12 mb-3 ">
<div class="card" >
<div class="col-12 mb-3 d-flex">
  <div class="card-body">
   <div class="aaa">
    <h5 class="card-title">大規模故障発生時の対応フロー</h5>
     <%= link_to('運用手順書 ***　手順書格納先 ***', documents_path, {class: "link-dark"}) %> 
 </div>
</div>

 <div class="bbb d-flex">
     <div class="col-sm-6 mt-2">
    <label for="inputName">自己評価(0~100の評価で入力)</label>
    <%= f.text_area :failure_flow, class:"input-default", id:"self_assessment_3", placeholder:"半角数字で入力してください",maxlength:"3" %>
  </div>
   <div class="col-sm-2 mt-2 ms-4">
      <div class="pass-content">
          <span>判定</span>
        </div>
        <div class="pass" id='pass_3'></div>
  </div>
  </div>
  </div>
</div>
</div>

<div class="col-12 mt-3">
<label for="inputName">A認定</label>
      <div class="same-width-list mb-3 mb-md-0 d-flex ">
  <%= f.collection_select(:a_certification_id, ACertification.all, :id, :name, {}, {class:"select-box", id:"a_certification"}) %>
  </div>
  </div>


        <div class="a_passed mt-3" id='a_passed'>
        </div>

<%= f.submit "編集完了" ,class:"register-blue-btn mb-3" %>
<% end %>



</div>
</div>


                      
                

</main>
<%= render "shared/footer" %>
      </div>
      </div>