 <head>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/css/theme.default.min.css">
<style>
#fav-table th {
    background-color:#EEEEEE;
}

.sorter-false {
    background-image: none;
}

</style>
<script>
$(document).ready(function() {
    $('#fav-table').tablesorter({
  
    });
});
</script>
</head>

 
<%= render "shared/header-sidebar" %>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">教育タスク一覧</h1>
                        <ol class="breadcrumb mb-4">
                         <% if user_signed_in? %>
                         <li class="breadcrumb-item active"><%= "#{current_user.name}さんがログイン中です" %></li>
                         <% else %>
                         <li><%= link_to("Click here to log in", new_user_session_path, {class: "breadcrumb-item active"}) %></li>
                         <% end %>
                        </ol>


                        <div class="p-3 mb-2 bg-dark text-white">C認定一覧　*項目一覧へ自己評価0~100で入力 全項目が70以上でC認定取得
                         <br> 
                        <%= "該当作業実施・手順書閲覧後自己評価を記入してください" %><br>
                        <%="自己評価基準: *0~50(手順に不明点等があり一人称での作業が難しい)" %>
                        <%= "*50~70(手順に不明点がなく、二人作業の作業者であればできる)" %>
                        <%= "*70~100(作業の手順・内容を理解しており二人作業での確認者ができる)" %><br>
                        </div>

                                                    <div class="row d-flex">
                                    <div class="col-6">
                                <div class="card bg-danger mb-3">
                                  
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                    <%= link_to('A認定一覧はこちら', a_tasks_path, {class: "small text-white stretched-link"}) %>
                                        <div class="small text-black"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>

                             <div class="col-6">
                                <div class="card bg-primary mb-3">
                                  
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                    <%= link_to('B認定一覧はこちら', b_tasks_path, {class: "small text-white stretched-link"}) %>
                                        <div class="small text-black"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        

       <div class="container">
                     <div class="row d-flex">
                     <% if user_signed_in?%>
                      <% @c_tasks.each do |c_task| %>


                         <div class="col-lg-2 col-4 mb-3 ">
                        <div class="card mb-6 shadow-sm">
                            <div class="bd-placeholder-img card-img-top ">
                            <%= image_tag c_task.user.image,  class: "img-fluid"%></div>
                                                        <div class="card-body">
                               
                                 <%= link_to('C認定詳細', c_task_path(c_task.id), {class: "btn btn-sm btn-outline-secondary"}) %>
                                 <%= link_to('編集', edit_c_task_path(c_task.id), {class: "btn btn-sm btn-outline-secondary"}) %>
                                </div>
                                </div>
                            </div>
                       
                      <div class="col-md-9">
       <div class="card border-light mb-3">
          

            <div class="card-header">マイプロフィール</div>
            <div class="card-body">
            <h6 class="breadcrumb-item active">氏名</h6>
            
              <p class="card-text"><%= c_task.user.name %></p>

              <h6 class="breadcrumb-item active">C認定</h6>
              <% if c_task.user.present? %>
              <p class="card-text"><%= c_task.c_certification.name %></p>
              <% elsif %>
              <%= "---" %>
              <% end %>

            </div>
          </div>
          </div>
           <tbody>
  <table class="mytable mb-3">

    <h5><%= "#{c_task.user.name}さんのC認定項目一覧" %></h5>
   <th>定時起動JOBの確認</th>
   <th>監視ログ定点確認</th>
   <th>監視画面の正常性確認</th>
   <th>業務ログ取得</th>
   <th>セキュリティカードの貸出</th>
  </tr>
  <tr>
 
    <td><%= c_task.job_confirmation %></td>
    <td><%= c_task.check_the_log %></td>
    <td><%= c_task.surveillance_monitor %></td>
    <td><%= c_task.get_log %></td>
    <td><%= c_task.card_lending %></td>
  </tr>
</table>
</tbody>
 <% end %>



                                           
              <% unless @c_tasks.present? %>
                            <div class="col-12">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">C認定新規登録画面</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                    <%= link_to('こちらをクリックし新規登録をお願いします', new_c_task_path, {class: "small text-white stretched-link"}) %>
                                        <div class="small text-black"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                 <% end %>

                        </div>

                </div>
<% end %>

<% unless user_signed_in? %>

<div class="container">
                         <div class="row">
                            <div class="col-xl-6 col-md-6">
                                       <div class="card bg-warning text-white mb-4 mt-3">
                                    <div class="card-body">ユーザログイン画面</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                    <%= link_to('ログイン後、C認定登録をお願いします', new_user_session_path, {class: "small text-white stretched-link"}) %>
                                        <div class="small text-black"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
   
                            <div class="col-xl-6 col-md-6">
                                <div class="card bg-success text-white mb-4 mt-3">
                             <div class="card-body">ユーザ新規登録画面</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                    <%= link_to('アカウント登録がまだの方は、こちらから新規登録をお願いします', new_user_registration_path, {class: "small text-white stretched-link"}) %>
                                        <div class="small text-black"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
<% end %>



<div class="p-3 mb-2 bg-dark text-white">C認定実施メンバ一覧 </div>
                        <div class="card-body">
    <table id="fav-table" class="table table-bordered">
  <thead>
      <tr><th>名前</th><th>所属グループ</th><th>C認定取得</th><th>定時起動JOBの確認</th><th>監視ログ定点確認</th><th>監視画面の正常性確認</th><th>業務ログ取得</th><th>セキュリティカードの貸出</th></tr>
  </thead>
  <tbody>
  <% @c_task.each do |c_task| %>
      <tr><td><%= c_task.user.name %></td>
      <td><%= c_task.user.group.name %></td>
      <td><%= c_task.c_certification.name %></td>
      <td><%= c_task.job_confirmation %></td>
      <td><%= c_task.check_the_log %></td>
      <td><%= c_task.surveillance_monitor %></td>
      <td><%= c_task.get_log %></td>
      <td><%= c_task.card_lending %></td></tr>
      <% end %>
  </tbody>
</table>
</div>

                <div class="container">
                     <div class="row">
                      <% @c_task.each do |c_task| %>
                       <div class="col-lg-2 col-4 mb-3 ">
                        <div class="card h-100 mb-6 shadow-sm">
                            <div class="bd-placeholder-img card-img-top ">
                            <%= image_tag c_task.user.image, class: "img-fluid"%></div>
                            <div class="card-body">
                                <h5 class="card-text text-truncate"><%= c_task.user.name %></h5>
                                <p class="card-text text-truncate">
                                <%= c_task.user.group.name %>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                 <%= link_to( 'C認定詳細', c_task_path(c_task.id), {class: "btn btn-sm btn-outline-secondary"}) %>
                                 
                                </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    <% end %>
                



 
 </div>
</div>
</div>



                </main>
                <%= render "shared/footer" %>

        </div>
    </div>
   
      