<%= render "shared/header-sidebar" %>

  <div id="layoutSidenav_content">
                <main>

                    <div class="container-fluid px-4">
                        <h1 class="mt-4">教育タスク一覧</h1>
                        <ol class="breadcrumb mb-4">
                         <li class="breadcrumb-item active"><%= "#{current_user.name}さんがログイン中です" %></li>
                        </ol>
                        

                        <div class="p-3 mb-2 bg-dark text-white ">C認定教育項目一覧 *自己評価0~100で入力 全項目が70以上でC認定取得 <br> 
                        <%= "該当作業実施・手順書閲覧後自己評価を記入してください" %><br>
                        <%="自己評価基準: *0~50(手順に不明点等があり一人称での作業が難しい)" %>
                        <%= "*50~70(手順に不明点がなく、二人作業の作業者であればできる)" %>
                        <%= "*70~100(作業の手順・内容を理解しており二人作業での確認者ができる)" %><br>
                        </div>
                       

                   
                        <%= form_with model: @c_task, local: true do |f| %>
<%= render 'layouts/error_messages', model:f.object %>
    <div class="container">
     <div class="row">
      <div class="col-12 mb-3 ">
<div class="card" >
<div class="col-12 mb-3 d-flex">
  <div class="card-body">
   <div class="aaa">
    <h5 class="card-title">定時起動ジョブの確認</h5>
        <%= link_to('運用手順書 ***　手順書格納先 ***', documents_path, {class: "link-dark"}) %> 
 </div>
</div>

 <div class="bbb d-flex">
     <div class="col-sm-6 mt-2">
    <label for="inputName">自己評価(0~100の評価で入力)</label>
    <%= f.text_area :job_confirmation, class:"input-default", id:"self_assessment", placeholder:"半角数字で入力してください",maxlength:"3" %>
  </div>
   <div class="col-sm-2 mt-2 ms-4">
      <div class="pass-content">
          <span>判定</span>
        </div>
        <div class="pass" id='pass'></div>
  </div>
  </div>
  </div>
</div>
</div>


<div class="col-12 mb-3 ">
<div class="card" >
<div class="col-12 mb-3 d-flex">
  <div class="card-body">
   <div class="aaa">
    <h5 class="card-title">定例業務ログ取得</h5>
        <%= link_to('運用手順書 ***　手順書格納先 ***', documents_path, {class: "link-dark"}) %> 
 </div>
</div>

 <div class="bbb d-flex">
     <div class="col-sm-6 mt-2">
    <label for="inputName">自己評価(0~100の評価で入力)</label>
    <%= f.text_area :get_log, class:"input-default", id:"self_assessment_2", placeholder:"半角数字で入力してください",maxlength:"3" %>
  </div>
   <div class="col-sm-2 mt-2 ms-4">
      <div class="pass-content">
          <span>判定</span>
        </div>
        <div class="pass" id='pass_2'></div>
  </div>
  </div>
  </div>
</div>
</div>

<div class="col-12 mb-3 ">
<div class="card" >
<div class="col-12 mb-3 d-flex">
  <div class="card-body">
   <div class="aaa">
    <h5 class="card-title">監視画面の正常性確認</h5>
        <%= link_to('運用手順書 ***　手順書格納先 ***', documents_path, {class: "link-dark"}) %> 
 </div>
</div>

 <div class="bbb d-flex">
     <div class="col-sm-6 mt-2">
    <label for="inputName">自己評価(0~100の評価で入力)</label>
    <%= f.text_area :surveillance_monitor, class:"input-default", id:"self_assessment_3", placeholder:"半角数字で入力してください",maxlength:"3" %>
  </div>
   <div class="col-sm-2 mt-2 ms-4">
      <div class="pass-content">
          <span>判定</span>
        </div>
        <div class="pass" id='pass_3'></div>
  </div>
  </div>
  </div>
</div>
</div>

<div class="col-12 mb-3 ">
<div class="card" >
<div class="col-12 mb-3 d-flex">
  <div class="card-body">
   <div class="aaa">
    <h5 class="card-title">監視ログ定点確認</h5>
       <%= link_to('運用手順書 ***　手順書格納先 ***', documents_path, {class: "link-dark"}) %> 
 </div>
</div>

 <div class="bbb d-flex">
     <div class="col-sm-6 mt-2">
    <label for="inputName">自己評価(0~100の評価で入力)</label>
    <%= f.text_area :check_the_log, class:"input-default", id:"self_assessment_4", placeholder:"半角数字で入力してください",maxlength:"3" %>
  </div>
   <div class="col-sm-2 mt-2 ms-4">
      <div class="pass-content">
          <span>判定</span>
        </div>
        <div class="pass" id='pass_4'></div>
  </div>
  </div>
  </div>
</div>
</div>

<div class="col-12 mb-3 ">
<div class="card" >
<div class="col-12 mb-3 d-flex">
  <div class="card-body">
   <div class="aaa">
    <h5 class="card-title">セキュリティカードの貸出</h5>
        <%= link_to('運用手順書 ***　手順書格納先 ***', documents_path, {class: "link-dark"}) %> 
 </div>
</div>

 <div class="bbb d-flex">
     <div class="col-sm-6 mt-2">
    <label for="inputName">自己評価(0~100の評価で入力)</label>
    <%= f.text_area :card_lending, class:"input-default", id:"self_assessment_5", placeholder:"半角数字で入力してください",maxlength:"3" %>
  </div>
   <div class="col-sm-2 mt-2 ms-4">
      <div class="pass-content">
          <span>判定</span>
        </div>
        <div class="pass" id='pass_5'></div>
 
  
</div>
</div>
</div>
</div>


<div class="col-12 mt-3">
<label for="inputName">C認定</label>
      <div class="same-width-list mb-3 mb-md-0 d-flex ">
  <%= f.collection_select(:c_certification_id, CCertification.all, :id, :name, {}, {class:"select-box", id:"c_certification"}) %>
  </div>
  </div>


        <div class="c_passed mt-3" id='c_passed'>
        </div>



<%= f.submit "新規登録完了" ,class:"register-blue-btn" %>
<% end %>



</div>
</div>
</div>


</div>






<%= render "shared/footer" %>
      