<%= render "shared/header-sidebar" %>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">教育タスク一覧</h1>
                        <ol class="breadcrumb mb-4">
                         <% if user_signed_in? %>
                         <li class="breadcrumb-item active"><%= "#{current_user.name}さんがログイン中です" %></li>
                         <% else %>
                         <li><%= link_to("Click here to log in", new_user_session_path, {class: "breadcrumb-item active"}) %></li>
                         <% end %>
                        </ol>

                       
                        <div class="p-3 mb-2 bg-dark text-white "><%= "#{@c_task.user.name}さんのC認定教育項目一覧*自己評価0~100で入力 全項目が70以上でC認定取得" %><br> 
                        <%= "該当作業実施・手順書閲覧後に自己評価を記入してください" %><br>
                        <%="自己評価基準: *0~50(手順に不明点等があり一人称での作業が難しい)" %>
                        <%= "*50~70(手順に不明点がなく、二人作業の作業者であればできる)" %>
                        <%= "*70~100(作業の手順・内容を理解しており二人作業での確認者ができる)" %><br>
                        <% if user_signed_in? %>
                         <% if  current_user.id == @c_task.user_id %>
                        <%= link_to('C認定編集', edit_c_task_path(@c_task.id), {class: "btn btn-sm btn-outline-secondary text-white mt-3 p-10"}) %>
                        <% end %>
                        <% end %>
                        <%= link_to("一覧画面へ戻る", c_tasks_path, {class: "btn btn-sm btn-outline-secondary text-white mt-3 p-10"}) %> 
                        <br>
                        </div>
                       

                         <% if @c_task.c_certification_id == 3 %> 
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
       <%= image_tag 'c_icon.png',class:"img-fluid" %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @c_task.user.name %>様　C認定取得</h5>
        <p class="card-text"><br>C認定取得おめでとうございます！次はB認定取得に向けて取り組んでいきましょう！
        </p>
        
      </div>
    </div>
  </div>
</div>
                            <% end %>
                        

    
    <div class="container">
     <div class="row">
      

 <tbody>
  <div class="col-2 mb-3 ">
                        <div class="card mb-6 shadow-sm">
                            <div class="bd-placeholder-img card-img-top ">
                            <%= image_tag @c_task.user.image,  class: "img-fluid"%>
                            </div>
                            </div>
                            </div>

<div class="col-10 mb-3 ">
  <table class="mytable mb-3">

    <th>名前</th>
    <th>C認定</th>
   <th>定時起動JOBの確認</th>
   <th>監視ログ定点確認</th>
   <th>監視画面の正常性確認</th>
   <th>業務ログ取得</th>
   <th>セキュリティカードの貸出</th>
  </tr>
  <tr>
    <td><%= @c_task.user.name %></td>
    <td><%= @c_task.c_certification.name %></td>
    <td><%= @c_task.job_confirmation %></td>
    <td><%= @c_task.check_the_log %></td>
    <td><%= @c_task.surveillance_monitor %></td>
    <td><%= @c_task.get_log %></td>
    <td><%= @c_task.card_lending %></td>
  </tr>
</table>
</tbody>
</div>
</div>
      
      
<div class="card mb-3" >
<div class="col-10 d-flex">
  <div class="card-body">
   <div class="document"> 
    <h5 class="card-title">定時起動ジョブの確認</h5>
    <%= link_to('運用手順書 ***　手順書格納先 ***', documents_path, {class: "link-dark"}) %> 
    
 </div>
</div>

 <div class="assessment ">
     <div class="col-12  mt-2">
    <label for="inputName">自己評価(0~100の評価で入力)</label>
    <div class="input-default", id="self_assessment" ><%= @c_task.job_confirmation %></div>
  </div>
  </div>
  </div>
</div>



<div class="col-12 mb-3 ">
<div class="card" >
<div class="col-10 mb-3 d-flex">
  <div class="card-body">
   <div class="document">
    <h5 class="card-title">定例業務ログ取得</h5>
        <%= link_to('運用手順書 ***　手順書格納先 ***', documents_path, {class: "link-dark"}) %> 
 </div>
</div>

 <div class="assessment d-flex">
     <div class="col-sm-12mt-2">
    <label for="inputName">自己評価(0~100の評価で入力)</label>
    <div class="input-default", id="self_assessment_2" ><%= @c_task.get_log %></div>
  </div>
 
  </div>
  </div>
</div>
</div>

<div class="col-12 mb-3 ">
<div class="card" >
<div class="col-10 mb-3 d-flex">
  <div class="card-body">
   <div class="document">
    <h5 class="card-title">監視画面の正常性確認</h5>
       <%= link_to('運用手順書 ***　手順書格納先 ***', documents_path, {class: "link-dark"}) %> 
 </div>
</div>

<div class="assessment d-flex">
     <div class="col-sm-12 mt-2">
    <label for="inputName">自己評価(0~100の評価で入力)</label>
    <div class="input-default", id="self_assessment_3" ><%=  @c_task.surveillance_monitor %></div>
  </div>

  
  </div>
  </div>
</div>
</div>

<div class="col-12 mb-3 ">
<div class="card" >
<div class="col-10 mb-3 d-flex">
  <div class="card-body">
   <div class="document">
    <h5 class="card-title">監視ログ定点確認</h5>
       <%= link_to('運用手順書 ***　手順書格納先 ***', documents_path, {class: "link-dark"}) %> 
 </div>
</div>

 <div class="bbb d-flex">
     <div class="col-sm-12 mt-2">
    <label for="inputName">自己評価(0~100の評価で入力)</label>
    <div class="input-default", id="self_assessment_4" ><%=  @c_task.check_the_log %></div>
  </div>

  </div>
  </div>
</div>
</div>

<div class="col-12 mb-3 ">
<div class="card" >
<div class="col-10 mb-3 d-flex">
  <div class="card-body">
   <div class="document">
    <h5 class="card-title">セキュリティカードの貸出</h5>
       <%= link_to('運用手順書 ***　手順書格納先 ***', documents_path, {class: "link-dark"}) %> 
 </div>
</div>

<div class="assessment d-flex">
     <div class="col-sm-12 mt-2">
    <label for="inputName">自己評価(0~100の評価で入力)</label>
      <div class="input-default", id="self_assessment_5" ><%=  @c_task.card_lending %></div>
  </div>

</div>


  
  </div>
</div>
<div class="col-md-12 mt-3 ">

</div>





</div>
</div>
</div>

</main>
<%= render "shared/footer" %>
      